.navbar {
  background-color: #333;
  padding: 10px;
  color: #008cff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(223, 2, 2, 0.2);
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar .search-bar input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #000000;
  width: 200px; /* Adjust width as needed */
}

.navbar .search-bar button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.navbar .search-bar button:hover {
  background-color: #000000; /* Darker shade on hover */
}

.navbar .search-history li input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  width: 200px; /* Adjust width as needed */
}

.navbar .search-history li button {
  padding: 8px;
  margin-left: 10px; /* Adjust margin as needed */
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.navbar .search-history li button:hover {
  background-color: #000000; /* Darker shade on hover */
}

.navbar .search-history li button.delete-button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

.navbar .search-history li button.delete-button:hover {
  background-color: #000000; /* Darker shade on hover */
}

.navbar .filters select {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
}

.navbar .filters select option {
  background-color: #555;
}

.navbar .filters select:focus,
.navbar .search-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}